@mixin generateTheme($backgroundColorWeight, $borderColorWeight, $fontColorWeight, $hoverColorWeight) {
    background-color: mix($--tag-primary-color, $--color-white, $backgroundColorWeight);
    border-color: mix($--tag-primary-color, $--color-white, $borderColorWeight);
    color: mix($--tag-primary-color, $--color-white, $fontColorWeight);
  
    &.is-hit {
      border-color: $--tag-primary-color;
    }
  
    // type
    &--success {
      background-color: mix($--tag-success-color, $--color-white, $backgroundColorWeight);
      border-color: mix($--tag-success-color, $--color-white, $borderColorWeight);
      color: mix($--tag-success-color, $--color-white, $fontColorWeight);
  
      &.is-hit {
        border-color: $--tag-success-color;
      }
    }
    &--warning {
      background-color: mix($--tag-warning-color, $--color-white, $backgroundColorWeight);
      border-color: mix($--tag-warning-color, $--color-white, $borderColorWeight);
      color: mix($--tag-warning-color, $--color-white, $fontColorWeight);
  
      &.is-hit {
        border-color: $--tag-warning-color;
      }
    }
    &--danger {
      background-color: mix($--tag-danger-color, $--color-white, $backgroundColorWeight);
      border-color: mix($--tag-danger-color, $--color-white, $borderColorWeight);
      color: mix($--tag-danger-color, $--color-white, $fontColorWeight);
  
      &.is-hit {
        border-color: $--tag-danger-color;
      }
    }
    &--info {
      background-color: mix($--tag-info-color, $--color-white, $backgroundColorWeight);
      border-color: mix($--tag-info-color, $--color-white, $borderColorWeight);
      color: mix($--tag-info-color, $--color-white, $fontColorWeight);
  
      &.is-hit {
        border-color: $--tag-info-color;
      }
    }
  }
  
  .v-tag {
    /* your component style */
    @include generateTheme(10%, 20%, 100%, 100%);
    display: inline-block;
    height: 32px;
    padding: $--tag-padding;
    line-height: 30px;
    font-size: $--tag-font-size;
    color: $--tag-primary-color;
    border-width: 1px;
    border-style: solid;
    border-radius: $--tag-border-radius;
    box-sizing: border-box;
    white-space: nowrap;
    // size
    &--medium {
      height: 28px;
      line-height: 26px;
    }
    &--small {
      height: 24px;
      padding: 0 8px;
      line-height: 22px;
    }
    &--mini {
      height: 20px;
      padding: 0 5px;
      line-height: 19px;
    }
  
    // effect
    &--dark {
      @include generateTheme(100%, 100%, 0%, 80%);
    }
  
    &--plain {
      @include generateTheme(0%, 40%, 100%, 100%);
    }
  }
  
  .v-zoom-in-center-enter-active,
  .v-zoom-in-center-leave-active {
    transition: all 0.3s cubic-bezier(0.55, 0%, 0.1, 1);
  }
  .v-zoom-in-center-enter-from,
  .v-zoom-in-center-leave-to {
    opacity: 0;
    transform: scaleX(0);
  }
  