$nav-tabs-border-width: 1px !default;
$nav-tabs-border-color: #dee2e6 !default;
$nav-link-padding-y: 0.5rem !default;
$nav-link-padding-x: 1rem !default;
$nav-tabs-link-hover-color: $blue !default;
$nav-link-disabled-color: $blue !default;
$nav-tabs-link-active-color: $blue !default;
$nav-tabs-border-radius: 0.25rem !default;
$nav-tabs-link-active-bg: #fff !default;
$nav-tabs-link-active-border-color: #dee2e6 #dee2e6 #fff !default;
$nav-tabs-content-margin: 1rem !default;

.v-tabs-nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;
}
.v-tabs-nav-item {
  display: block;
  padding: $nav-link-padding-y $nav-link-padding-x;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $nav-tabs-link-hover-color;
  }
  // Disabled state lightens text
  &.disabled {
    color: $nav-link-disabled-color;
    pointer-events: none;
    cursor: default;
    background-color: transparent;
    border-color: transparent;
  }
  &.is-active {
    color: $nav-tabs-link-active-color;
  }
}
.nav-line {
  .v-tabs-nav-item {
    &.is-active {
      border-bottom: $nav-tabs-border-width * 2 solid
        $nav-tabs-link-active-color;
    }
  }
}

.nav-card {
  .v-tabs-nav-item {
    border: $nav-tabs-border-width solid transparent;
    margin-bottom: -$nav-tabs-border-width;
    &.is-active {
      @include border-top-radius($nav-tabs-border-radius);
      background-color: $nav-tabs-link-active-bg;
      border-color: $nav-tabs-link-active-border-color;
    }
  }
}

.v-tabs-content {
  margin-top: $nav-tabs-content-margin;
}
